<% provide(:title, "Menu") %>

<div class="menu">
<h2>ラーメン</h2>
<div class="card" style="width: 18rem;">
  <img src="miso.jpg" class="card-img-top" alt="">
  <div class="card-body">
    <h4 class="Card title">味噌らーめん</h4>
    <p class="card-text">合わせ味噌・とんこつベースのスープ</p>
  </div>
</div>
<ul>
  <li>とんこつラーメン　¥650</li>
  <li>しょうゆラーメン　¥650</li>
  <li>塩ラーメン　¥650</li>
  <li>味噌ラーメン　¥650</li>
  <li>野菜ラーメン　¥650</li>
  <li>辛辛ラーメン　¥650</li>
  <li>チャーシューメン　¥650</li>
  <li>つけめん　¥650</li>
</ul>
<p>大盛り　¥100増し</p>

<hr>
<h2>トッピング</h2>
<ul>
  <li>のり　¥100</li>
  <li>メンマ　¥100</li>
  <li>味付けたまご　¥100</li>
  <li>辛玉　¥100</li>
  <li>コーン　¥100</li>
  <li>バター　¥100</li>
  <li>ほうれん草　¥100</li>
  <li>野菜　¥100</li>
  <li>ねぎ　¥150</li>
  <li>チャーシュー　¥250</li>
</ul>

<hr>
<h2>サイド</h2>
  <ul>
    <li>ゆで餃子（５個）　¥250</li>
    <li>チャーシューごはん　¥250</li>
    <li>ライス（中）　¥250</li>
    <li>つまみメンマ　¥250</li>
    <li>つまみチャーシュー　¥250</li>
    <li>つまみ野菜ごった煮　¥250</li>
    <li>つまみ辛玉　¥100</li>
  </ul>

<hr>
<h2>飲み物</h2>
<p>瓶ビール</p>
<p>ビール　¥400</p>
<p>日本酒　¥300</p>
<p>ハイボール　¥300</p>
<p>ウーロンハイ　¥300</p>
<p>レモンサワー　¥300</p>


</div>