<% provide(:title, "Top") %>
<h1>ら ー め ん 仁 家</h1>

<div class="a">
    <img src="assets/miso.jpg">
    <img src="assets/shio.jpeg">
    <img src="assets/shoyu.jpg">
</div>


<h2>〜スープにこだわっています〜</h2>
  <hr>
  <h3>お知らせ</h3>
  <h4>新型コロナウイルスの感染対策の為、夜間の営業はしばらくお休みします。</h4>
  
  <div class="newsbox">
    <ul>
      <li><span>2020.05.30</span><br>
      新型コロナウイルスの感染対策の為、夜間の営業はしばらくお休みします。<br>
      営業時間　11:30～13:30</li>
      <li><span>2020.05.30</span><br>
      コロナウイルスに対する取り組み<br>
      ＊スタッフのマスク着用を義務付けしております。<br>
      ＊テーブルやドアノブ等をアルコール消毒しております。<br>
      ＊ご来店時に一人一人にアルコール消毒、または手洗いをお願いしております。</li>
      <li><span>2020.05.30</span><br>
      HPオープンしました。今後とも宜しくお願いいたします。</li>
    </ul>
  </div>
