<footer class="footer">
  <h3><%= link_to image_tag("jinya.jpg", alt: "Jinya logo", :width => "50"),
            '/' %></h3>
  <h5>らーめん仁家</h5>
  <h5>東京都墨田区２丁目１９−１５</h5>
  <h5>営業時間</h5>
  <h5>定休日　毎週木曜</h5>
  <small>&copy; 2020 ramen jinya</small>
</footer>