<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
      <%= link_to image_tag("jinya.jpg", alt: "Jinya logo", id: "logo"),
            '/' %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "トップ",   '/' %></li>
          <li><%= link_to "お品書き",   '/home/menu' %></li>
          <li><%= link_to "お店案内", '/home/about' %></li>
        </ul>
      </nav>
  </div>
</header>